.container{
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 30%;
    margin-top: 40px;
}

@media (max-width: 770px){
    .container{
        width: 100%;
    }
}