.container{
    margin: 50px,0;
}

.card{
    margin:0 2% !important;
    margin-top: 70px !important;
}

.infected{
    border-bottom: 10px solid #636efa;
}

.recovered{
    border-bottom: 10px solid #03cc96;
}

.deaths{
    border-bottom: 10px solid #ef553b;
}

.itemCard{
    font-size: 25px !important;
    font-weight: bold !important;
    text-align: center;
}

.infectCounter{
    font-size: 35px;
    font-weight: bold;
    align-items: center !important;
    color: #636efa;
    overflow-wrap: break-word;
}

.recCounter{
    font-size: 35px;
    font-weight: bold;
    align-items: center !important;
    color: #03cc96;
    overflow-wrap: break-word;
}

.deathCounter{
    font-size: 35px;
    font-weight: bold;
    align-items: center !important;
    color: #ef553b;
    overflow-wrap: break-word;
}

.textContent{
    text-align: center !important;
}


@media (max-width: 770px){
    .card{
        margin: 2% 0 !important;
        margin-top: 70px !important;
    }
}